@tailwind base;

/* Fonts */
@font-face {
  font-family: Ubuntu;
  font-weight: 500;
  src: url(/assets/fonts/Ubuntu-Medium.ttf) format('ttf');
}
@font-face {
  font-family: Ubuntu;
  font-weight: 700;
  src: url(/assets/fonts/Ubuntu-Bold.ttf) format('ttf');
}
@font-face {
  font-family: Ubuntu Mono;
  font-weight: 400;
  src: url(/assets/fonts/UbuntuMono-Regular.ttf) format('ttf');
}
@font-face {
  font-family: Ubuntu Mono;
  font-weight: 700;
  src: url(/assets/fonts/UbuntuMono-Bold.ttf) format('ttf');
}

body {
  overflow-x: hidden;
}

/* Canvas */
#canvas-wrapper {
  position: relative;
  width: 100%;
  height: 100vh;
}

.bvg-software {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 140px;
  font-weight: 700;
  color: #ffffff;
  transform: translate(-50%, -50%);
  user-select: none;
  white-space: nowrap;
}

#minesweeper-frame img {
  max-width: unset;
  height: unset;
}

.highlight {
  width: 100%;
  height: 1.5em;
  display: inline-block;
  position: absolute;
  left: 0;
  background-color: #eff3db2b;
}

/* Table Styles */
table {
  border-collapse: collapse;
  border-spacing: 0;
  font-size: 1rem;
  border: 1px solid lightgrey;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

table th {
  background-color: #fff;
  padding: 4px 8px;
}

table td {
  padding: 4px 8px;
}

table tr {
  background-color: #fff;
}

table tr:nth-child(odd) {
  background-color: #edf2f7;
}

/* Filename on top of Code Blocks */
.filename {
  font-family: 'Ubuntu Mono', monospace;
  border: 1px solid #2a2a2a;
  border-top-right-radius: 0.375rem;
  border-top-left-radius: 0.375rem;
  border-bottom: 0;
  padding: 5px 10px;
  transform: translateY(2px);
}

/* Prism JS Code Styles */
code[class*='language-'],
pre[class*='language-'] {
  -moz-tab-size: 2;
  -o-tab-size: 2;
  tab-size: 2;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: normal;
  font-family: 'Ubuntu Mono', monospace;
  font-size: 14px;
  color: #76d9e6;
  text-shadow: none;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

pre > code[class*='language-'] {
  font-size: 1em;
}

pre[class*='language-'],
:not(pre) > code[class*='language-'] {
  background: #2a2a2a;
}

pre[class*='language-'] {
  padding: 15px;
  border-radius: 4px;
  border: 1px solid #2a2a2a;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  overflow: auto;
  position: relative;
}

pre[class*='language-'] code {
  white-space: pre;
  display: block;
}

:not(pre) > code[class*='language-'] {
  padding: 0.15em 0.2em 0.05em;
  border-radius: 0.3em;
  border: 0.13em solid #7a6652;
  box-shadow: 1px 1px 0.3em -0.1em #000 inset;
}

.token.namespace {
  opacity: 0.7;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #b5b5b5;
  font-style: italic;
}

.token.operator,
.token.boolean,
.token.number {
  color: #a77afe;
}

.token.attr-name,
.token.string {
  color: #e6d06c;
}

.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  color: #e6d06c;
}

.token.selector,
.token.inserted {
  color: #a6e22d;
}

.token.atrule,
.token.attr-value,
.token.keyword,
.token.important,
.token.deleted {
  color: #ef3b7d;
}

.token.regex,
.token.statement {
  color: #76d9e6;
}

.token.placeholder,
.token.variable {
  color: #fff;
}

.token.important,
.token.statement,
.token.bold {
  font-weight: bold;
}

.token.punctuation {
  color: #bebec5;
}

.token.entity {
  cursor: help;
}

.token.italic {
  font-style: italic;
}

code.language-markup {
  color: #f9f9f9;
}

code.language-markup .token.tag {
  color: #ef3b7d;
}

code.language-markup .token.attr-name {
  color: #a6e22d;
}

code.language-markup .token.attr-value {
  color: #e6d06c;
}

code.language-markup .token.style,
code.language-markup .token.script {
  color: #76d9e6;
}

code.language-markup .token.script .token.keyword {
  color: #76d9e6;
}

/* Line highlight plugin */
pre[class*='language-'][data-line] {
  position: relative;
  padding: 1em 0 1em 3em;
}

pre[data-line] .line-highlight {
  position: absolute;
  left: 0;
  right: 0;
  padding: 0;
  margin-top: 1em;
  background: rgba(255, 255, 255, 0.08);
  pointer-events: none;
  line-height: inherit;
  white-space: pre;
}

pre[data-line] .line-highlight:before,
pre[data-line] .line-highlight[data-end]:after {
  content: attr(data-start);
  position: absolute;
  top: 0.4em;
  left: 0.6em;
  min-width: 1em;
  padding: 0.2em 0.5em;
  background-color: rgba(255, 255, 255, 0.4);
  color: black;
  font: bold 65%/1 sans-serif;
  height: 1em;
  line-height: 1em;
  text-align: center;
  border-radius: 999px;
  text-shadow: none;
  box-shadow: 0 1px 1px rgba(255, 255, 255, 0.7);
}

pre[data-line] .line-highlight[data-end]:after {
  content: attr(data-end);
  top: auto;
  bottom: 0.4em;
}

/* Start purging... */
@tailwind components;
/* Stop purging. */

/* Start purging... */
@tailwind utilities;
/* Stop purging. */

/* Your own custom utilities */
